.latest {
    margin-left: 16px;
    margin-right: 16px;
    padding: 40px 20px;
    border-bottom: 3px solid #eeeeee;
}

.latestContainer {
    width: 90%;
    display: block;
    margin: 0 auto;
    min-height: 100%;
    padding: 40px 20px;
}

.latestTitle {
    font-size: 34px;
    color: #2a2a2a;
}

.latestDesc {
    color: #a1a1a1;
    font-size: 14px;
    font-style: italic;
}

.sliderImgDiv {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.sliderImgBottomTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.sliderImgBottomBottom {
    text-align: center;
}

.sliderImgTitle {
    font-size: 22px;
    color: #2a2a2a;
}

.sliderImgStar {
    font-size: 14px;
}

.sliderImgPrice {
    font-size: 18px;
    color: #a1a1a1;
    font-weight: 500;
}

.sliderImgTopInner img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.slick-slide div {
    margin: 5px;
}

.sliderImgBottomBottom {
    margin-bottom: 20px !important;
}

.latestTetxs {
    margin-bottom: 30px;
}

.slick-prev::before {
    display: inline-block;
    color: #2a2a2a;
    content: '\1438';
    font-size: 25px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    background-color: transparent;
    line-height: 48px;
    margin-left: -90px;
}

.slick-next::before {
    display: inline-block;
    color: #2a2a2a;
    content: '\1433';
    font-size: 25px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    background-color: transparent;
    line-height: 48px;
    margin-left: 30px;
}

.slick-next,
.slick-prev {
    top: 160px;
}

.sliderImgTop {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.sliderImgTopHover {
    position: absolute;
    bottom: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.sliderImgTopHover a {
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #2a2a2a;
    background-color: #ffffff;
}

.sliderImgTop:hover .sliderImgTopHover {
    bottom: 80px;
    transition: all 0.5s ease;
    opacity: 1;
    visibility: visible;
}